.page{
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #ddd;
}
.page .center{
  background: #fff;
  width: 400px;
  padding: 30px;
}
.page .el-button{
  margin-top: 50px;
  width: 100%;
}