<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/element.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/login/login.css">
  <title>登录</title>
</head>
<body>
  <div id="app" class="page" v-cloak>
    <div class="center">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
            <el-form-item label="活动名称" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" prop="region">
              <el-select v-model="ruleForm.pwd" placeholder="请选择活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="7天免登陆" prop="rem">
              <el-switch v-model="ruleForm.rem"></el-switch>
            </el-form-item>
          </el-form>
          <el-button type="primary" size="large" @click="btnClick">提交</el-button>
    </div>
  </div>
</body>
</html>
<script src="/js/vue.min.js"></script>
<script src="/js/element.min.js"></script>
<script src="/js/login/login.js"></script>