<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/element.min.css">
  <link rel="stylesheet" href="/css/element-theme/index.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/register/register.css">
  <title>注册</title>
</head>
<body>
  <div id="app" class="page" v-cloak>
    <div class="center">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" 
        inline status-icon>
            <el-form-item label="账号" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="pwd">
              <el-input v-model="ruleForm.pwd"></el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="phone" >
              <el-input v-model="ruleForm.phone" :maxlength="11"></el-input>
            </el-form-item>
          </el-form>
          <el-button type="primary" 
          @click="btnClick">注册</el-button>
    </div>
  </div>
</body>
</html>
<script src="/js/vue.min.js"></script>
<script src="/js/element.min.js"></script>
<script src="/js/register/register.js"></script>